
nlp_llm/HF_TOKEN.txt
/bbdd_rag/.venv_rag
bbdd_rag/output.csv
/bbdd_rag/__pycache__
/nlp-vevn
/nlp_llm/llama_env
bbdd_rag/arxiv_index.faiss
bbdd_rag/arxiv_data.pkl
bbdd_rag/arxiv-metadata-oai-snapshot.json
